# This file groups three thin/lightweight modules' OpenAPI documents for convenience.
# Each "---"-separated block below is a COMPLETE, independent OpenAPI 3.1 document
# and should be split into its own file (openapi-regreporting.yaml, openapi-document.yaml,
# openapi-refdata.yaml) before being loaded into tooling that expects one document per file.

openapi: 3.1.0
info:
  title: Regulatory Reporting (TIRA) API
  version: "0.1.0-draft"
  description: >
    Read-only surface for the Regulator Read-Only Portal plus a staff-triggered
    return-generation endpoint. ReturnType values are PLACEHOLDERS pending the
    current TIRA circular (tracked as C2 since Deliverable 2) — do not treat the
    enum below as final.
servers:
  - url: https://api.nlolo-lifeplatform.tz/v1
paths:
  /regulatory-returns:
    post:
      summary: Generate a return for a period (staff — FINANCE_OFFICER/ADMIN)
      security:
        - staffAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [returnType, period]
              properties:
                returnType:
                  type: string
                  enum: [QUARTERLY_PRUDENTIAL, ANNUAL_AUDITED, STATISTICAL]
                  description: "PLACEHOLDER catalog — replace once TIRA circular is confirmed."
                period: { type: string, description: "YYYY-Qn or YYYY" }
      responses:
        '202': { description: Return generation started (async — large reports) }
  /regulatory-returns/{returnId}:
    get:
      summary: Fetch a generated return
      security:
        - staffAuth: []
        - regulatorAuth: [read-only]
      parameters:
        - name: returnId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  returnId: { type: string, format: uuid }
                  returnType: { type: string }
                  period: { type: string }
                  status: { type: string, enum: [GENERATING, READY] }
                  documentRef: { type: string, nullable: true, description: "DocumentRef once READY" }

---
openapi: 3.1.0
info:
  title: Document & Content Management API
  version: "0.1.0-draft"
  description: Generic capability injected as a DocumentStorePort into party, underwriting, claims, and policy.
servers:
  - url: https://api.nlolo-lifeplatform.tz/v1
paths:
  /documents:
    post:
      summary: Upload a document (KYC evidence, policy document, claim evidence, signed form)
      security:
        - customersAuth: [profile]
        - agentsAuth: [agent]
        - staffAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, documentType]
              properties:
                file: { type: string, format: binary }
                documentType: { type: string, enum: [KYC_EVIDENCE, POLICY_DOCUMENT, CLAIM_EVIDENCE, SIGNED_FORM] }
      responses:
        '201':
          description: Stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentRef: { type: string }
  /documents/{documentRef}:
    get:
      summary: Download a document
      security:
        - customersAuth: [profile]
        - agentsAuth: [agent]
        - staffAuth: []
      parameters:
        - name: documentRef
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/octet-stream: {}
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }

---
openapi: 3.1.0
info:
  title: Reference & Master Data API
  version: "0.1.0-draft"
  description: >
    Tenant-global lookup data (country/currency codes, occupation classes, TIRA
    codes, and the configurable regulatory/operational parameters referenced
    throughout this design — TZ_CONTESTABILITY_MONTHS, TZ_REINSTATEMENT_WINDOW_MONTHS,
    OFFLINE_RECEIPT_SLA_HOURS, etc.). Read-heavy; cached aggressively client-side.
servers:
  - url: https://api.nlolo-lifeplatform.tz/v1
paths:
  /reference-codes/{codeSetKey}:
    get:
      summary: Get a reference code set
      security:
        - customersAuth: []
        - agentsAuth: []
        - staffAuth: []
      parameters:
        - name: codeSetKey
          in: path
          required: true
          schema: { type: string }
          example: TZ_CONTESTABILITY_MONTHS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  codeSetKey: { type: string }
                  values:
                    type: array
                    items:
                      type: object
                      properties:
                        code: { type: string }
                        label: { type: string }
                        value: { type: string }
