openapi: 3.1.0
info:
  title: Payments & Disbursements API
  version: "0.1.0-draft"
  description: >
    External REST surface of the `payment` module — deliberately minimal. Per
    Deliverable 2 Rev 2, every payment/disbursement is initiated by an internal
    event (PaymentRequested, LoanDisbursementRequested, ClaimSettlementRequested,
    CommissionPayoutRequested, SurrenderPayoutRequested, MaturityPayoutRequested),
    never by a channel calling `payment` directly to "make a payment." The only
    externally-facing concern is checking status and receiving gateway callbacks.
servers:
  - url: https://api.nlolo-lifeplatform.tz/v1
paths:
  /payments/{paymentRequestId}/status:
    get:
      summary: Get payment status
      description: >
        Staff/agents only — REALM_CUSTOMERS is deliberately NOT admitted (see Task 8's
        implementation note). payment's tables store only opaque payer_ref/payee_ref and
        source_ref, with no party_id or policy_number column, so there is no way to perform
        the mandatory object-level ownership check a customer token would require
        (openapi-common.yaml:149-154, OWASP API #1). Admitting the realm without that check
        would be a Broken-Object-Level-Authorization hole; this is a deliberate contract
        narrowing versus an earlier design sketch, not an oversight.
      security:
        - agentsAuth: [agent]
        - staffAuth: []
      parameters:
        - name: paymentRequestId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentStatusView' }
        '400': { $ref: 'openapi-common.yaml#/components/responses/BadRequest' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
        '404': { $ref: 'openapi-common.yaml#/components/responses/NotFound' }
  /payments/status-by-key:
    get:
      summary: Get payment/disbursement status by idempotency key (Deliverable 3 Rev 2, Pay2 — for clients that lost track of the generated ID, e.g. after a dropped USSD session)
      description: >
        Staff/agents only — same REALM_CUSTOMERS exclusion and reason as
        /payments/{paymentRequestId}/status above. Resolves against BOTH ledgers
        (PaymentStatusView.kind says which one answered).
      security:
        - agentsAuth: [agent]
        - staffAuth: []
      parameters:
        - name: idempotencyKey
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentStatusView' }
        '400': { $ref: 'openapi-common.yaml#/components/responses/BadRequest' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
        '404': { $ref: 'openapi-common.yaml#/components/responses/NotFound' }
  /payout-batches/{batchId}:
    get:
      summary: Get a settlement batch's status (Deliverable 3 Rev 2, Pay1 — commission runs, maturity batches, dividend runs)
      security:
        - staffAuth: []
      parameters:
        - name: batchId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PayoutBatchView' }
        '400': { $ref: 'openapi-common.yaml#/components/responses/BadRequest' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
        '404': { $ref: 'openapi-common.yaml#/components/responses/NotFound' }
  /webhooks/mobile-money-callback:
    post:
      summary: >
        Inbound gateway callback (Vodacom M-Pesa / Airtel Money / Tigo Pesa). Not part
        of the platform's own OpenAPI contract in the usual sense — each aggregator has
        its own callback payload shape; this endpoint is the ACL boundary translating
        that shape into PaymentConfirmed/PaymentFailed internally. Authenticated via the
        aggregator's own HMAC-SHA256 signature scheme (Task 8's MobileMoneyHmacFilter),
        not Keycloak — this is the one path in the whole platform's filter chain that is
        permitAll() for exactly this method+path, because a differently-authenticated
        caller, not an unauthenticated one, sits in front of it.
      security: []
      parameters:
        - name: X-MobileMoney-Signature
          in: header
          required: true
          schema: { type: string }
          description: >
            hex(HMAC-SHA256(sharedSecret, "<X-MobileMoney-Timestamp>.<raw request body>")).
            Verified with a constant-time comparison; a mismatch is rejected without
            revealing which check failed.
        - name: X-MobileMoney-Timestamp
          in: header
          required: true
          schema: { type: string, format: date-time }
          description: >
            Signed timestamp, checked against a bounded replay window (config:
            mobile-money.callback-replay-window-seconds) — a captured-and-replayed
            callback stops verifying once the window closes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Aggregator-specific payload — see each gateway's own API docs.
      responses:
        '200': { description: Acknowledged. Returned even for a well-formed callback whose gatewayReference is unrecognized or whose outcome could not be applied — a non-200 would only provoke a pointless retry (see Task 8's MobileMoneyCallbackController javadoc). }
        '400': { $ref: 'openapi-common.yaml#/components/responses/BadRequest' }
        '401':
          description: >
            Missing/malformed signature or timestamp header, stale timestamp (outside the
            replay window), or signature mismatch. Deliberately generic — the response body
            never says which check failed.
          content:
            application/problem+json:
              schema: { $ref: 'openapi-common.yaml#/components/schemas/ProblemDetails' }
components:
  schemas:
    PaymentStatusView:
      type: object
      additionalProperties: false
      properties:
        id: { type: string, format: uuid }
        idempotencyKey: { type: string }
        kind:
          type: string
          enum: [PAYMENT, DISBURSEMENT]
          description: >
            Which ledger answered. Always PAYMENT for
            /payments/{paymentRequestId}/status; either kind for /payments/status-by-key,
            since that lookup resolves against both ledgers.
        status:
          type: string
          enum: [PENDING, IN_DOUBT, CONFIRMED, COMPLETED, FAILED]
          description: >
            Union of both ledgers' vocabularies — a payment's success status is CONFIRMED, a
            disbursement's is COMPLETED (see kind to know which applies). PENDING and IN_DOUBT are
            the two NON-terminal states, and the difference between them matters to a client:
            PENDING means the instruction has not reached the rail with any outcome yet, while
            IN_DOUBT means it did reach the rail and the outcome is unknown (a read timeout, or an
            acceptance carrying no gateway reference) — money may or may not have moved. An
            IN_DOUBT row is not final and can still resolve to CONFIRMED/COMPLETED or FAILED when
            the aggregator's asynchronous notification arrives, so a client must not treat it as a
            failure. Added in M5's final review; see db-migrations/payment/V4.
        amount: { $ref: 'openapi-common.yaml#/components/schemas/Money' }
    PayoutBatchView:
      type: object
      additionalProperties: false
      properties:
        batchId: { type: string, format: uuid }
        batchType: { type: string, enum: [COMMISSION_RUN, MATURITY_BATCH, DIVIDEND_RUN] }
        status: { type: string, enum: [IN_PROGRESS, COMPLETED, PARTIAL_FAILURE] }
        disbursementCount: { type: integer }
        failedCount: { type: integer }
