openapi: 3.1.0
info:
  title: Premium Billing & Collection API
  version: "0.1.0-draft"
  description: >
    External REST surface of the `billing` module. The BillingSyncApi from Deliverable 2
    (offline field-receipt capture) is a separate, agent-portal-only endpoint set,
    included here since agents genuinely call it directly from the field app.
servers:
  - url: https://api.nlolo-lifeplatform.tz/v1
paths:
  /policies/{policyNumber}/invoices:
    get:
      summary: List outstanding invoices for a policy
      security:
        - customersAuth: [profile]
        - agentsAuth: [agent]
        - staffAuth: []
      parameters:
        - name: policyNumber
          in: path
          required: true
          schema: { $ref: 'openapi-common.yaml#/components/schemas/PolicyNumberRef' }
        - name: status
          in: query
          schema: { type: string, enum: [DUE, PARTIALLY_PAID, PAID, IN_GRACE, OVERDUE, WAIVED] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InvoiceView' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
        '404': { $ref: 'openapi-common.yaml#/components/responses/NotFound' }
  /policies/{policyNumber}/invoices/next-due:
    get:
      summary: Lightweight "what do I owe?" lookup (Deliverable 3 Rev 2, Bi2 — built for USSD)
      security:
        - customersAuth: [profile]
        - agentsAuth: [agent]
      parameters:
        - name: policyNumber
          in: path
          required: true
          schema: { $ref: 'openapi-common.yaml#/components/schemas/PolicyNumberRef' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InvoiceView' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
        '404':
          description: Policy not found, or no invoice currently due for it
          content:
            application/problem+json:
              schema: { $ref: 'openapi-common.yaml#/components/schemas/ProblemDetails' }
  /invoices/{invoiceId}/waiver:
    post:
      summary: Waive an invoice (staff only — reason is mandatory and audit-relevant)
      security:
        - staffAuth: []
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10 }
      responses:
        '200': { description: Invoice waived }
        '400': { $ref: 'openapi-common.yaml#/components/responses/BadRequest' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
        '404': { $ref: 'openapi-common.yaml#/components/responses/NotFound' }
  /invoices/{invoiceId}/payment-request:
    post:
      summary: Request collection of an invoice's premium through payment (staff/agent)
      description: >
        Publishes billing.PaymentRequested (request/confirm pattern) — payment attempts collection
        against payerRef and, on success, publishes payment.PaymentConfirmed, which billing's own
        PaymentEventListener consumes to move the invoice toward PARTIALLY_PAID/PAID.
      security:
        - staffAuth: []
        - agentsAuth: [agent]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema: { type: string, format: uuid }
        # Deliberately NOT a $ref to openapi-common.yaml#/components/parameters/IdempotencyKey:
        # that shared parameter is `required: false` (the platform-wide "accepted, not enforced"
        # convention), and on THIS endpoint the header is required and genuinely enforced. It is the
        # value that reaches payment's (tenant_id, idempotency_key) registry, so it decides whether a
        # request is a deduplicated duplicate or a real new collection attempt. Same header name,
        # same client-supplied semantics, stricter requiredness.
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, minLength: 1 }
          description: >
            Client-generated key identifying this collection ATTEMPT, not the invoice. Reusing a key
            is deduplicated by payment, so a double-submit is safe; supplying a NEW key starts a new
            attempt, which is what makes an operator retry after a decline (or a PARTIALLY_PAID
            top-up) possible at all. There is no default — a missing or blank value is a 400, because
            any default would either make retry impossible or discard duplicate protection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payerRef]
              properties:
                payerRef: { type: string }
      responses:
        '202': { description: "Payment requested, accepted for processing" }
        '400': { $ref: 'openapi-common.yaml#/components/responses/BadRequest' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
        '404': { $ref: 'openapi-common.yaml#/components/responses/NotFound' }
  /agents/{agentId}/field-receipts:
    post:
      summary: Capture a premium receipt offline (BillingSyncApi — agent field app)
      description: >
        Lands as PENDING_RECONCILIATION (FieldReceiptCaptured). If unmatched by a
        PaymentConfirmed within the refdata-configured SLA (default 24h), escalates
        to FieldReceiptReconciliationOverdue (Deliverable 2 Rev 2, B4).
      security:
        - agentsAuth: [agent]
      parameters:
        - name: agentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policyNumber, amount, clientIdempotencyKey, capturedAt]
              properties:
                policyNumber: { $ref: 'openapi-common.yaml#/components/schemas/PolicyNumberRef' }
                amount: { $ref: 'openapi-common.yaml#/components/schemas/Money' }
                clientIdempotencyKey: { type: string }
                capturedAt: { type: string, format: date-time, description: "Client-device timestamp — server timestamp also recorded for reconciliation ordering." }
      responses:
        '202':
          description: Accepted, pending reconciliation
          content:
            application/json:
              schema:
                type: object
                properties:
                  receiptId: { type: string, format: uuid }
                  status: { type: string, enum: [PENDING_RECONCILIATION] }
        '400': { $ref: 'openapi-common.yaml#/components/responses/BadRequest' }
        '403': { $ref: 'openapi-common.yaml#/components/responses/Forbidden' }
components:
  schemas:
    InvoiceView:
      type: object
      additionalProperties: false
      properties:
        invoiceId: { type: string, format: uuid }
        policyNumber: { $ref: 'openapi-common.yaml#/components/schemas/PolicyNumberRef' }
        dueDate: { type: string, format: date }
        amount: { $ref: 'openapi-common.yaml#/components/schemas/Money' }
        status: { type: string, enum: [DUE, PARTIALLY_PAID, PAID, IN_GRACE, OVERDUE, WAIVED] }
        gracePeriodEndsAt: { type: string, format: date, nullable: true }
        dunningLevel:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: Present only when an ArrearsCase is open (Deliverable 3 Rev 2, Bi1).
